<div class="container pt-5 w-full  flex flex-row content-center">
    <mat-card (click)="openTransactionDialog()" class="mat-card w-1/2 h-1/2 m-2 rounded-2xl bg-gradient-to-r from-gray-200 via-gray-50 to-gray-200">
        <mat-icon class="mat-icon-size">add_circle</mat-icon>
        <mat-card-actions class="place-content-center mat-card-actions">
            <button mat-button class="text-3xl">Versement</button>
        </mat-card-actions>
    </mat-card>

    <mat-card class="mat-card w-1/2 h-1/2 m-2 rounded-2xl bg-gradient-to-r from-gray-200 via-gray-50 to-gray-200">
        <mat-icon class="mat-icon-size" aria-hidden="false" aria-label="contract">assignment</mat-icon>
        <mat-card-actions class="place-content-center mat-card-actions">
            <button mat-button class="text-3xl">Retrait</button>
        </mat-card-actions>
    </mat-card>
</div>
