<div class="container w-full">

    <div class="flex flex-wrap flex-row w-full justify-between pt-2 py-5 px-5">
        <button mat-stroked-button (click)="openTransactionDialog()">Versement</button>
        <button mat-stroked-button>Retrait</button>
        <button mat-stroked-button>Répartition des assets</button>
        <button mat-stroked-button>Historique des Opérations</button>
    </div>
    <div class="mt-6 px-5 h-1/2">
        <h1 class="text-4xl text-red-800 text-center">Épargne: 5500 Euros </h1>
        <div class="h-full px-5 mt-5">
            <div class="h-1/2 bg-red-200 p-5">
                <h2 class="text-2xl text-red-500 ">PEE </h2>

                <h2 class="text-6xl text-red-500 text-center">4000</h2>
            </div>
            <div class="h-1/2 bg-blue-200 p-5">
                <h2 class="text-2xl text-blue-500 ">PERCO </h2>

                <h2 class="text-6xl text-blue-500 text-center">1500</h2>

            </div>

        </div>
    </div>
</div>